body {
    /* background-color: #008080; */
    background-color: #ffb86d;
    font-family: monospace;
    line-height: 1.2rem;
    color: #303030;
    padding: 20px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.everything-containter {
    display: flex;
}

button {
    font-family: monospace;
}

a:link {
    color: rgb(178, 0, 178);
}

/* Visited link */
a:visited {
    color: rgb(178, 0, 178);
}

/* Mouse over link */
a:hover {
    color: rgb(255, 255, 123);
}



/* Selected link */
a:active {
    color: rgb(255, 255, 123);
}


.video {
    width: 100%;
    text-align: center;
    justify-content: center;
}


#youtube-video-small {
    width: 100%; /* Fixed width for your video */
}

.window {
    box-shadow: 1px 1px 0 #ffb86d, 2px 2px 0 #ffb86d, 3px 3px 0 #656565;
    position: absolute;
    border-bottom: 1px solid #656565;
    border-right: 1px solid #656565;
    border-left: 1px solid #ffdbb4;
    background-color: #ffcd98;
    overflow: hidden; /* Ensure content inside the window doesn't overflow */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

#link-space {
    line-height: 3rem;
}

#window-picture {
    width: 25%;
    top: 5%;
    right: 5%;
    z-index: 200;
    margin: 0 auto;
}

#window-links {
    max-width: 25%;
    max-height: 80%;
    top: 8%;
    left: 3%;
    z-index: 300;
    margin: 0 auto;
}
#window-links-2 {
    max-width: 25%;
    max-height: 80%;
    top: 17%;
    left: 2%;
    z-index: 300;
    margin: 0 auto;
}

#window-bio {
    max-width: 62%;
    max-height: 90%;
    top: 4%;
    left: 5%;
    z-index: 100;
    margin: 0 auto;
}

#window-songkick {
    top: 50%;
    left: 53%;
    z-index: 500;
    margin: 0 auto;
}

#window-singer-songerwriter-music {
    width: 30%;
    max-height: 40%;
    top: 3%; 
    right: 3%; 
    margin: auto;
    z-index: 300;
}

#window-portfolio-1 {
    width: 40%;
    max-height: 40%;
    bottom: 8%; 
    left: 27%; 
    margin: 0 auto;
    z-index: 202;
}
#window-portfolio-2 {
    width: 40%;
    max-height: 40%;
    bottom: 17%; 
    right: 27%; 
    margin: 0 auto;
    z-index: 201;
}

#window-film-animation-music {
    bottom: 13%; 
    left: 54%; 
    margin: 0 auto;
    z-index: 400;
}


#window-game-dev {
    width: 30%;
    bottom: 7%; 
    right: 7%; 
    z-index: 600;
}

#window-music-player {
    width: 20%;
    bottom: 4%; 
    right: 4%; 
    z-index: 200;
}

#window-more-bio {
    width: 97%;
    height: 85%;
    z-index: 800;
}


.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #00009e; */
    background: #ff9727;
    color: #303030;
    padding: 5px;
    /* font-weight: bold; */
    border-bottom: 1px solid #656565;
    border-top: 1px solid #ffcd98;
    height: 25px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.title-bar .buttons {
    display: flex;
}

.image-container {
    text-align: center;
    margin: auto;
}

.button {
    background-color: #ffb86d;
    border: 2px solid #656565; /* Light border */
    border-left-color: #ffcd98; /* Darker left border */
    border-top-color: #ffcd98; /* Darker top border */
    color: 303030;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 20px; /* Center the text vertically */
    /* box-shadow: inset 1px 1px #ffffff, inset -1px -1px #808080; Inner shadows for 3D effect */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* center them */
    gap: 18px; /* space between buttons */
    font-size: larger;
}

.button-language {
    background-color: #ffb86d;
    border: 2px solid #a2a2a2; /* Light border */
    border-left-color: #ffdbb4; /* Darker left border */
    border-top-color: #ffdbb4; /* Darker top border */
    color: 303030;
    /* width: 20px;
    height: 20px; */
    margin-left: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 20px; /* Center the text vertically */
    /* box-shadow: inset 1px 1px #ffffff, inset -1px -1px #808080; Inner shadows for 3D effect */
    padding: 0.4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.button:hover {
    background-color: #ff9727;
    border: 2px solid #ffcd98;
    border-left-color: #656565; /* Darker left border on hover */
    border-top-color: #656565; /* Darker top border on hover */
}
.button-language:hover {
    background-color: #ff9727;
    border: 2px solid #ffdbb4;
    border-left-color: #a2a2a2; /* Darker left border on hover */
    border-top-color: #a2a2a2; /* Darker top border on hover */
    /* box-shadow: inset 1px 1px #ffffff, inset -1px -1px #000000; Darker inner shadows on hover */
}

.button:active {
    background-color: #656565;
    /* border: 2px solid #000000; Darker border when active */
    /* box-shadow: inset 1px 1px #000000, inset -1px -1px #ffffff; Reverse inner shadows when active */
}
.button-language:active {
    background-color: #656565;
    /* border: 2px solid #000000; Darker border when active */
    /* box-shadow: inset 1px 1px #000000, inset -1px -1px #ffffff; Reverse inner shadows when active */
}


.content {
    padding: 1rem;
    flex-grow: 1;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.embed iframe {
    height: auto;
    border: none;
    margin: 2rem auto;
}


.copy-icon {
    display: inline-block;
    transition: background-color 0.3s;
    vertical-align: middle;
}

.copy-icon:hover {
    background-color: #a5a5a5;
}

.copy-icon svg {
    width: 16px;
    height: 16px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



/* Toast message styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #333;
    background-color: #c0c0c0;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}



















@media screen and (max-width: 1200px) {
    body {
        padding: 0;
    }

    .pic-of-hugh {
        width: 100px; 
        aspect-ratio: 1; 
        right: 0.5rem; 
        bottom: 0; 
        position: absolute;
    }

    .window {
        max-width: none;
        max-height: none;
        position: relative;
        transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
        border-bottom: 1px solid #656565;
        border-right: 1px solid #656565;
        border-radius: 0;
    }

    .hidden{
        display: none;
    }

    .show{
        display: block;
    }

    #window-picture {
        width: 95%;
        top: 0;
        left: 0;
        margin: 2rem auto;
    }
    #window-tour {
        width: 95%;
        top: 0;
        left: 0;
        margin: 2rem auto;
    }
    #window-tour-2 {
        width: 95%;
        top: 0;
        left: 0;
        margin: 2rem auto;
    }

    #window-links{
        max-width: none;
        max-height: none;
        top: 0px; 
        left: 0px; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-links-2{
        max-width: none;
        max-height: none;
        top: 0px; 
        left: 0px; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-bio {
        max-width: none;
        max-height: none;
        top: 0px; 
        left: 0px; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-singer-songerwriter-music {
        top: 0px; 
        right: 0px; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-songkick {
        top: 0px; 
        left: 0px; 
        width: 95%;
        margin: 2rem auto;
    }
    
    #window-portfolio-1 {
        bottom: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }
    
    #window-portfolio-2 {
        bottom: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-film-animation-music {
        top: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-game-dev {
        top: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-music-player {
        top: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }

    #window-more-bio {
        top: 0rem; 
        left: 0rem; 
        width: 95%;
        margin: 2rem auto;
    }

    .title-bar {
        border-radius: 0;
        border-bottom: 1px solid #656565;
    }

    .content {
        padding: 1rem;
        flex-grow: 1;
        overflow-y: auto;
    }

    .video {
        justify-content: center;
        margin: 0 auto;
    }

    a {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none; /* disables long-press menus on iOS */
        user-select: none;           /* prevents text selection */
        -webkit-user-select: none;   /* Safari-specific */
        color: inherit;              /* keeps your original text color */
        text-decoration: none;       /* optional: if you don’t want underlines */
      }

      /* For WebKit browsers */
        ::-webkit-scrollbar {
            width: 12px; /* width of the scrollbar */
            height: 12px; /* height for horizontal scrollbar */
        }

        ::-webkit-scrollbar-track {
            background: #ffb86d; /* the track background */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #ff9727; /* the draggable part */
            border-radius: 0; /* square corners */
        }
        

}
