body {
    background-color: #008080;
    font-family: monospace;
    line-height: 1.1rem;
    color: black;
    padding: 20px;
    cursor: none; /* Hide the default cursor */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.everything-containter {
    display: flex-grid;
}

html:hover {
    cursor: none; /* Hide the default cursor */
}

a:link {
    color: purple;
}

span {
    font-size: 16px;
}

/* Visited link */
a:visited {
    color: purple;
}

/* Mouse over link */
a:hover {
    color: yellow;
    cursor: none; /* Hide the default cursor */
}



/* Selected link */
a:active {
    color: yellow;
}

iframe {
    margin: 2rem auto;
    cursor: none; /* Hide the default cursor */
}

.video {
    text-align: center;
    justify-content: center;
    margin: 2rem auto;
}


#youtube-video {
    width: 304px; /* Fixed width for your video */
    height: 171px; /* Fixed height for your video */
}

.window {
    width: 40%;
    max-height: 70%;
    box-shadow: 2px 2px 0 #000, 3px 3px 0 #fff, 4px 4px 0 #000;
    background-color: #c6c6c6;
    position: absolute;
    transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
    overflow: hidden; /* Ensure content inside the window doesn't overflow */
    cursor: none; /* Hide the default cursor */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}


.responsive-image {
    max-width: 40%;
    height: auto;
    box-shadow: 2px 2px 0 #000, 3px 3px 0 #fff, 4px 4px 0 #000; /* Optional: Add a shadow to match the window style */
}

#window0 {
    top: 0rem;
    left: 2rem;
    z-index: 100;
    margin: auto;
}

#window1 {
    bottom: 2rem; /* Distance from the bottom */
    right: 2rem; /* Distance from the right */
    height: 40%;
    margin: 2rem auto;
}

#window2 {
    top: 1rem; /* Distance from the bottom */
    right: 6rem; /* Distance from the right */
    width: 100%;
    margin: auto;
}

#window3 {
    display: none;
    bottom: 2rem; 
    left: 10rem;
    margin: 2rem auto;
    height: 60%;
    z-index: 500;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00009e;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    height: 25px;
    cursor: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.title-bar .buttons {
    display: flex;
}

.image-container {
    text-align: center;
    margin: auto;
}

.button {
    background-color: #c0c0c0;
    border: 2px solid #ffffff; /* Light border */
    border-left-color: #808080; /* Darker left border */
    border-top-color: #808080; /* Darker top border */
    color: black;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 20px; /* Center the text vertically */
    cursor: none;
    box-shadow: inset 1px 1px #ffffff, inset -1px -1px #808080; /* Inner shadows for 3D effect */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.button:hover {
    background-color: #808080;
    border: 2px solid #ffffff;
    border-left-color: #000000; /* Darker left border on hover */
    border-top-color: #000000; /* Darker top border on hover */
    box-shadow: inset 1px 1px #ffffff, inset -1px -1px #000000; /* Darker inner shadows on hover */
}

.button:active {
    background-color: #808080;
    border: 2px solid #000000; /* Darker border when active */
    box-shadow: inset 1px 1px #000000, inset -1px -1px #ffffff; /* Reverse inner shadows when active */
}

.content {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.embed iframe {
    height: auto;
    border: none;
    margin: 2rem auto;
}

.window.maximized {
    width: 90% !important;
    height: 90% !important;
    position: fixed;
    top: 5%;
    left: 5%;
    margin: auto;
    cursor: none;
}

.copy-icon {
    display: inline-block;
    transition: background-color 0.3s;
    vertical-align: middle;
}

.copy-icon:hover {
    background-color: #a5a5a5;
}

.copy-icon svg {
    width: 16px;
    height: 16px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



/* Toast message styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #333;
    background-color: #c0c0c0;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 750px) {
    body {
        padding: 0;
    }

    .window {
        width: 100%;
        max-height: none;
        margin: 2rem auto;
        position: relative;
        border-bottom: 2px solid #000;
        border-radius: 0;
    }

    #window0 {
        top: 0px; /* Distance from the bottom */
        left: 0px; /* Distance from the right */
        width: 100%;
        margin: 2rem auto;
    }

    #window1 {
        bottom: 0px; /* Distance from the bottom */
        right: 0px; /* Distance from the right */
        width: 100%;
        margin: 2rem auto;
    }
    
    #window2 {
        top: 0rem; /* Distance from the bottom */
        right: 0rem; /* Distance from the right */
        width: 100%;
        margin: 2rem auto;
    }

    #window3 {
        top: 0rem; /* Distance from the bottom */
        left: 0rem; /* Distance from the right */
        width: 100%;
        margin: 2rem auto;
        display: block;
    }

    .title-bar {
        cursor: default; /* Disable dragging on smaller screens */
        border-radius: 0;
        border-bottom: 2px solid #000;
    }

    .content {
        padding: 1rem;
        flex-grow: 1;
        overflow-y: auto;
    }

    .window + .window {
        border-top: none;
    }

    .video {
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    span {
        font-size: 16px;
    }
}
